<a href="https://colab.research.google.com/github/bcury/Machine-Learning-Projects/blob/main/ML_Forecast_Classification_DecisionTree_stickers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pl

In [15]:
base = pd.read_csv('/content/GSPC.csv')

In [16]:
base.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

não precisamos da coluna Date, então podemos eliminar ela

In [17]:
base.drop(columns=['Date'], axis =1, inplace = True)

In [18]:
base.head()

    Open   High    Low  Close  Adj Close   Volume
0  16.66  16.66  16.66  16.66      16.66  1260000
1  16.85  16.85  16.85  16.85      16.85  1890000
2  16.93  16.93  16.93  16.93      16.93  2550000
3  16.98  16.98  16.98  16.98      16.98  2010000
4  17.08  17.08  17.08  17.08      17.08  2520000

In [20]:
base[-2:] # dois ultimos

              Open         High  ...    Adj Close      Volume
17216  2748.459961  2752.610107  ...  2748.800049  3517790000
17217  2753.250000  2772.389893  ...  2772.350098  3651640000

[2 rows x 6 columns]

In [21]:
tomorrow = base[-1::]

In [22]:
tomorrow

          Open         High          Low        Close    Adj Close      Volume
17217  2753.25  2772.389893  2748.459961  2772.350098  2772.350098  3651640000

In [23]:
dados = base.drop(base[-1::].index, axis =0)

In [24]:
dados.tail()

              Open         High  ...    Adj Close      Volume
17212  2702.429932  2729.340088  ...  2724.010010  3561050000
17213  2720.979980  2722.500000  ...  2705.270020  4235370000
17214  2718.699951  2736.929932  ...  2734.620117  3684130000
17215  2741.669922  2749.159912  ...  2746.870117  3376510000
17216  2748.459961  2752.610107  ...  2748.800049  3517790000

[5 rows x 6 columns]

In [25]:
dados['target'] = dados['Close'][1:len(dados)].reset_index(drop=True) #criando nosso target

In [26]:
dados.tail()

              Open         High  ...      Volume       target
17212  2702.429932  2729.340088  ...  3561050000  2705.270020
17213  2720.979980  2722.500000  ...  4235370000  2734.620117
17214  2718.699951  2736.929932  ...  3684130000  2746.870117
17215  2741.669922  2749.159912  ...  3376510000  2748.800049
17216  2748.459961  2752.610107  ...  3517790000          NaN

[5 rows x 7 columns]

In [27]:
previsao = dados[-1::].drop('target', axis =1)

In [29]:
previsao #aqui precisamos tirar o target

              Open         High  ...    Adj Close      Volume
17216  2748.459961  2752.610107  ...  2748.800049  3517790000

[1 rows x 6 columns]

In [30]:
treino = dados.drop(dados[-1::].index, axis =0)

In [31]:
treino

              Open         High  ...      Volume       target
0        16.660000    16.660000  ...     1260000    16.850000
1        16.850000    16.850000  ...     1890000    16.930000
2        16.930000    16.930000  ...     2550000    16.980000
3        16.980000    16.980000  ...     2010000    17.080000
4        17.080000    17.080000  ...     2520000    17.030001
...            ...          ...  ...         ...          ...
17211  2705.110107  2710.669922  ...  3736890000  2724.010010
17212  2702.429932  2729.340088  ...  3561050000  2705.270020
17213  2720.979980  2722.500000  ...  4235370000  2734.620117
17214  2718.699951  2736.929932  ...  3684130000  2746.870117
17215  2741.669922  2749.159912  ...  3376510000  2748.800049

[17216 rows x 7 columns]

In [32]:
treino.tail()

              Open         High  ...      Volume       target
17211  2705.110107  2710.669922  ...  3736890000  2724.010010
17212  2702.429932  2729.340088  ...  3561050000  2705.270020
17213  2720.979980  2722.500000  ...  4235370000  2734.620117
17214  2718.699951  2736.929932  ...  3684130000  2746.870117
17215  2741.669922  2749.159912  ...  3376510000  2748.800049

[5 rows x 7 columns]

In [33]:
treino.loc[treino['target'] > treino['Close'],'target'] =1

In [35]:
treino.tail()

              Open         High  ...      Volume      target
17211  2705.110107  2710.669922  ...  3736890000     1.00000
17212  2702.429932  2729.340088  ...  3561050000  2705.27002
17213  2720.979980  2722.500000  ...  4235370000     1.00000
17214  2718.699951  2736.929932  ...  3684130000     1.00000
17215  2741.669922  2749.159912  ...  3376510000     1.00000

[5 rows x 7 columns]

In [37]:
treino.loc[treino['target'] !=1,'target'] =0

In [38]:
treino.tail()

              Open         High          Low  ...    Adj Close      Volume  target
17211  2705.110107  2710.669922  2676.810059  ...  2689.860107  3736890000     1.0
17212  2702.429932  2729.340088  2702.429932  ...  2724.010010  3561050000     0.0
17213  2720.979980  2722.500000  2700.679932  ...  2705.270020  4235370000     1.0
17214  2718.699951  2736.929932  2718.699951  ...  2734.620117  3684130000     1.0
17215  2741.669922  2749.159912  2740.540039  ...  2746.870117  3376510000     1.0

[5 rows x 7 columns]

entao agora temos o target com 0 e 1

In [39]:
#treinando

In [40]:
y = treino['target']
x = treino.drop('target', axis =1)

In [41]:
x, y

(              Open         High  ...    Adj Close      Volume
 0        16.660000    16.660000  ...    16.660000     1260000
 1        16.850000    16.850000  ...    16.850000     1890000
 2        16.930000    16.930000  ...    16.930000     2550000
 3        16.980000    16.980000  ...    16.980000     2010000
 4        17.080000    17.080000  ...    17.080000     2520000
 ...            ...          ...  ...          ...         ...
 17211  2705.110107  2710.669922  ...  2689.860107  3736890000
 17212  2702.429932  2729.340088  ...  2724.010010  3561050000
 17213  2720.979980  2722.500000  ...  2705.270020  4235370000
 17214  2718.699951  2736.929932  ...  2734.620117  3684130000
 17215  2741.669922  2749.159912  ...  2746.870117  3376510000

 [17216 rows x 6 columns], 0        1.0
 1        1.0
 2        1.0
 3        1.0
 4        0.0
         ...
 17211    1.0
 17212    0.0
 17213    1.0
 17214    1.0
 17215    1.0
 Name: target, Length: 17216, dtype: float64)

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=0)

In [44]:
x_train.shape

(12051, 6)

In [45]:
y_train.shape

(12051,)

In [46]:
x_test.shape

(5165, 6)

In [47]:
y_test.shape

(5165,)

In [48]:
# algoritimo de arvore de decisão

In [49]:
from sklearn.ensemble import ExtraTreesClassifier

In [50]:
arvore = ExtraTreesClassifier(n_estimators=50, criterion='entropy')

In [51]:
arvore.fit(x_train, y_train)

ExtraTreesClassifier(criterion='entropy', n_estimators=50)

In [52]:
forecast = arvore.predict(x_test)
forecast

array([0., 1., 0., ..., 1., 1., 0.])

In [53]:
y_test

4401     1.0
11279    0.0
14698    1.0
10240    0.0
16360    0.0
        ...
15607    1.0
2075     1.0
928      0.0
294      0.0
1067     1.0
Name: target, Length: 5165, dtype: float64

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(y_test, forecast)

0.5161665053242982

o resultado da acurácia é ruim, pois precisamos alimentar mais essa base de dados, porém usando serie temporal, poderiamos ter obtido um resultado melhor

Mas podemos usar este modelo como **Previsão**

ou seja, para PREVER as ações futuras

In [57]:
previsao

              Open         High  ...    Adj Close      Volume
17216  2748.459961  2752.610107  ...  2748.800049  3517790000

[1 rows x 6 columns]

In [58]:
arvore.predict(previsao)

array([1.])

In [59]:
previsao['target'] = arvore.predict(previsao)
previsao

              Open         High         Low  ...    Adj Close      Volume  target
17216  2748.459961  2752.610107  2739.51001  ...  2748.800049  3517790000     1.0

[1 rows x 7 columns]

entao temos que o modelo diz que o fechamento vai ser maior, com o target sendo 1

para ver o que realmente aconteceu na real, temos a var tomorrow para comparar

In [60]:
tomorrow

          Open         High          Low        Close    Adj Close      Volume
17217  2753.25  2772.389893  2748.459961  2772.350098  2772.350098  3651640000

o que confirma a previsão, uhuu!

agora podemos pegar o 'tomorrow' que ja aconteceu e jogarmos na nossa base para treinar o modelo novamente

In [61]:
dados = dados.append(tomorrow, sort=True)

In [63]:
dados #temos nossa base de volta

         Adj Close        Close  ...      Volume       target
0        16.660000    16.660000  ...     1260000    16.850000
1        16.850000    16.850000  ...     1890000    16.930000
2        16.930000    16.930000  ...     2550000    16.980000
3        16.980000    16.980000  ...     2010000    17.080000
4        17.080000    17.080000  ...     2520000    17.030001
...            ...          ...  ...         ...          ...
17213  2705.270020  2705.270020  ...  4235370000  2734.620117
17214  2734.620117  2734.620117  ...  3684130000  2746.870117
17215  2746.870117  2746.870117  ...  3376510000  2748.800049
17216  2748.800049  2748.800049  ...  3517790000          NaN
17217  2772.350098  2772.350098  ...  3651640000          NaN

[17218 rows x 7 columns]

mesmo assim podemos ter uma acurácia ruim, justamente pelos tipos de dados

Para fazermos automação, podemos colocar esses dados no power BI, assim os dados são atualizados todos os dias