<a href="https://colab.research.google.com/github/bcury/Machine-Learning-Projects/blob/main/ML_regression_forecast_predictWeather_DecisionTree_RandomForest_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
base = pd.read_csv('/content/GlobalTemperatures.csv')

In [3]:
base.shape

(3192, 9)

In [4]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [6]:
base.isnull().sum()

dt                                              0
LandAverageTemperature                         12
LandAverageTemperatureUncertainty              12
LandMaxTemperature                           1200
LandMaxTemperatureUncertainty                1200
LandMinTemperature                           1200
LandMinTemperatureUncertainty                1200
LandAndOceanAverageTemperature               1200
LandAndOceanAverageTemperatureUncertainty    1200
dtype: int64

In [19]:
np.unique(base['LandAndOceanAverageTemperature'], return_counts=True)

(array([12.475, 12.62 , 12.658, ...,    nan,    nan,    nan]),
 array([1, 1, 1, ..., 1, 1, 1]))

In [20]:
base.loc[pd.isnull(base['LandAndOceanAverageTemperature'])]

              dt  ...  LandAndOceanAverageTemperatureUncertainty
0     1750-01-01  ...                                        NaN
1     1750-02-01  ...                                        NaN
2     1750-03-01  ...                                        NaN
3     1750-04-01  ...                                        NaN
4     1750-05-01  ...                                        NaN
...          ...  ...                                        ...
1195  1849-08-01  ...                                        NaN
1196  1849-09-01  ...                                        NaN
1197  1849-10-01  ...                                        NaN
1198  1849-11-01  ...                                        NaN
1199  1849-12-01  ...                                        NaN

[1200 rows x 9 columns]

In [21]:
base.loc[pd.isnull(base['LandAndOceanAverageTemperature'])]

              dt  ...  LandAndOceanAverageTemperatureUncertainty
0     1750-01-01  ...                                        NaN
1     1750-02-01  ...                                        NaN
2     1750-03-01  ...                                        NaN
3     1750-04-01  ...                                        NaN
4     1750-05-01  ...                                        NaN
...          ...  ...                                        ...
1195  1849-08-01  ...                                        NaN
1196  1849-09-01  ...                                        NaN
1197  1849-10-01  ...                                        NaN
1198  1849-11-01  ...                                        NaN
1199  1849-12-01  ...                                        NaN

[1200 rows x 9 columns]

In [22]:
base['LandAndOceanAverageTemperature'].fillna(base['LandAndOceanAverageTemperature'].mean(), inplace = True)

In [23]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [24]:
base['LandMaxTemperature'].fillna(base['LandMaxTemperature'].mean(), inplace = True)

In [25]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [27]:
base['LandMaxTemperatureUncertainty'].fillna(base['LandMaxTemperatureUncertainty'].mean(), inplace = True)

In [28]:
base['LandMinTemperature'].fillna(base['LandMinTemperature'].mean(), inplace = True)

In [29]:
base['LandMinTemperatureUncertainty'].fillna(base['LandMinTemperatureUncertainty'].mean(), inplace = True)

In [30]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                        NaN
1  1750-02-01  ...                                        NaN
2  1750-03-01  ...                                        NaN
3  1750-04-01  ...                                        NaN
4  1750-05-01  ...                                        NaN

[5 rows x 9 columns]

In [31]:
base['LandAndOceanAverageTemperatureUncertainty'].fillna(base['LandAndOceanAverageTemperatureUncertainty'].mean(), inplace = True)

In [32]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                   0.128532
1  1750-02-01  ...                                   0.128532
2  1750-03-01  ...                                   0.128532
3  1750-04-01  ...                                   0.128532
4  1750-05-01  ...                                   0.128532

[5 rows x 9 columns]

In [35]:
base['LandAverageTemperatureUncertainty'].fillna(base['LandAverageTemperatureUncertainty'].mean(), inplace = True)

In [37]:
base['LandAverageTemperature'].fillna(base['LandAverageTemperature'].mean(), inplace = True)

pronto, valores nulos preenchidos com a média

In [38]:
base.isnull().sum()

dt                                           0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [39]:
base.shape

(3192, 9)

In [40]:
base.head()

           dt  ...  LandAndOceanAverageTemperatureUncertainty
0  1750-01-01  ...                                   0.128532
1  1750-02-01  ...                                   0.128532
2  1750-03-01  ...                                   0.128532
3  1750-04-01  ...                                   0.128532
4  1750-05-01  ...                                   0.128532

[5 rows x 9 columns]

In [41]:
base.tail()

              dt  ...  LandAndOceanAverageTemperatureUncertainty
3187  2015-08-01  ...                                      0.057
3188  2015-09-01  ...                                      0.058
3189  2015-10-01  ...                                      0.062
3190  2015-11-01  ...                                      0.063
3191  2015-12-01  ...                                      0.062

[5 rows x 9 columns]

In [62]:
base['dt'] = pd.to_datetime(base.dt, format='%Y-%d-%m')

**Treinando o modelo**

In [75]:
x = base.iloc[:,[1,2,3,4,5,6,8]].values
y = base.iloc[:,7].values

In [76]:
x.shape

(3192, 7)

In [77]:
y.shape

(3192,)

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.25, random_state=0)

In [80]:
x_treino.shape

(2394, 7)

In [81]:
y_treino.shape

(2394,)

In [82]:
x_teste.shape

(798, 7)

In [83]:
y_teste.shape

(798,)

**Decision Tree**

In [84]:
from sklearn.tree import DecisionTreeRegressor

In [85]:
tree = DecisionTreeRegressor(criterion='mse')

In [86]:
tree.fit(x_treino, y_treino)

/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

DecisionTreeRegressor(criterion='mse')

In [87]:
previsao = tree.predict(x_teste)

In [88]:
previsao

array([15.21256576, 15.719     , 15.21256576, 15.21256576, 15.21256576,
       14.054     , 16.792     , 15.21256576, 15.21256576, 16.704     ,
       15.21256576, 14.609     , 15.21256576, 15.93      , 16.753     ,
       14.331     , 15.493     , 15.372     , 15.21256576, 15.21256576,
       17.607     , 15.21256576, 15.21256576, 15.21256576, 15.21256576,
       15.21256576, 16.543     , 13.936     , 15.21256576, 13.129     ,
       15.285     , 13.467     , 16.591     , 15.21256576, 15.21256576,
       15.254     , 15.936     , 16.613     , 13.364     , 16.304     ,
       16.152     , 13.264     , 13.506     , 15.21256576, 15.21256576,
       15.21256576, 15.21256576, 15.228     , 15.21256576, 15.808     ,
       15.21256576, 14.902     , 14.157     , 13.777     , 13.417     ,
       15.735     , 14.873     , 16.552     , 15.21256576, 15.21256576,
       14.299     , 15.21256576, 15.21256576, 16.444     , 15.21256576,
       15.21256576, 13.852     , 15.21256576, 15.21256576, 15.21256576,
       15.21256576, 15.076     , 16.361     , 15.217     , 15.21256576,
       15.21256576, 16.226     , 16.783     , 13.658     , 15.21256576,
       17.578     , 15.21256576, 14.871     , 17.06      , 15.21256576,
       13.903     , 16.757     , 15.847     , 13.886     , 13.331     ,
       15.21256576, 14.273     , 15.831     , 14.945     , 15.21256576,
       13.396     , 13.527     , 15.987     , 15.21256576, 13.673     ,
       13.886     , 15.21256576, 15.21256576, 15.859     , 15.21256576,
       15.859     , 15.21256576, 15.21256576, 15.095     , 15.982     ,
       15.274     , 16.795     , 15.21256576, 15.21256576, 15.21256576,
       17.611     , 15.076     , 16.427     , 16.063     , 15.21256576,
       13.862     , 14.931     , 13.932     , 13.316     , 16.166     ,
       14.995     , 15.077     , 15.21256576, 15.21256576, 15.21256576,
       17.15      , 16.975     , 14.945     , 14.006     , 15.21256576,
       14.023     , 15.353     , 13.49      , 15.062     , 17.049     ,
       15.21256576, 13.585     , 15.197     , 15.011     , 16.665     ,
       15.956     , 16.36      , 15.21256576, 13.407     , 16.382     ,
       15.21256576, 16.36      , 15.868     , 15.21256576, 15.21256576,
       14.187     , 14.355     , 15.21256576, 17.183     , 13.264     ,
       15.21256576, 15.662     , 14.202     , 14.919     , 15.679     ,
       15.21256576, 15.21256576, 12.828     , 14.857     , 15.884     ,
       15.21256576, 15.21256576, 16.497     , 15.21256576, 15.21256576,
       13.263     , 15.21256576, 15.21256576, 15.21256576, 16.792     ,
       16.515     , 15.21256576, 16.707     , 15.337     , 16.932     ,
       15.21256576, 16.638     , 15.21256576, 16.917     , 15.21256576,
       15.21256576, 15.21256576, 16.497     , 15.683     , 15.21256576,
       14.11      , 13.154     , 15.762     , 15.298     , 15.21256576,
       14.013     , 14.068     , 14.254     , 14.607     , 15.21256576,
       16.707     , 17.45      , 15.21256576, 14.161     , 15.624     ,
       15.21256576, 14.941     , 15.21256576, 13.684     , 15.21256576,
       15.21256576, 13.458     , 14.351     , 17.06      , 15.232     ,
       15.21256576, 15.21256576, 14.141     , 16.831     , 14.388     ,
       15.21256576, 15.21256576, 15.21256576, 13.586     , 15.285     ,
       14.159     , 15.971     , 15.21256576, 15.21256576, 13.655     ,
       16.303     , 15.21256576, 15.21256576, 17.061     , 15.507     ,
       15.881     , 16.102     , 14.343     , 13.264     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 14.233     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.532     , 15.21256576,
       15.21256576, 15.21256576, 15.011     , 13.627     , 15.21256576,
       14.325     , 15.675     , 16.792     , 16.596     , 14.404     ,
       15.21256576, 14.1       , 13.518     , 13.704     , 15.823     ,
       15.21256576, 13.316     , 16.281     , 15.21256576, 16.197     ,
       15.957     , 15.21256576, 16.539     , 16.244     , 13.417     ,
       14.991     , 13.29      , 13.664     , 14.014     , 16.294     ,
       16.846     , 14.673     , 15.076     , 15.21256576, 13.451     ,
       13.435     , 15.21256576, 15.21256576, 13.271     , 16.742     ,
       13.545     , 15.21256576, 14.417     , 15.21256576, 15.226     ,
       14.193     , 15.21256576, 14.353     , 13.417     , 15.217     ,
       15.21256576, 16.532     , 15.645     , 15.21256576, 15.624     ,
       14.941     , 15.927     , 13.627     , 15.152     , 13.576     ,
       15.743     , 15.21256576, 15.821     , 16.569     , 17.246     ,
       15.21256576, 15.21256576, 15.21256576, 16.191     , 17.047     ,
       15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.223     ,
       14.536     , 14.151     , 15.431     , 15.21256576, 16.699     ,
       15.21256576, 17.155     , 15.21256576, 15.21256576, 15.21256576,
       15.031     , 15.21256576, 15.307     , 16.683     , 15.21256576,
       16.29      , 14.169     , 14.068     , 13.627     , 15.21256576,
       15.21256576, 16.675     , 15.21256576, 15.21256576, 13.299     ,
       15.019     , 15.21256576, 15.21256576, 16.074     , 15.21256576,
       13.506     , 15.21256576, 14.538     , 13.394     , 16.596     ,
       16.08      , 15.21256576, 15.21256576, 13.177     , 15.743     ,
       15.21256576, 14.825     , 14.126     , 14.987     , 13.829     ,
       17.375     , 14.193     , 13.367     , 15.21256576, 15.21256576,
       14.298     , 15.21256576, 13.644     , 16.695     , 16.472     ,
       15.21256576, 16.465     , 15.21256576, 15.21256576, 14.838     ,
       15.21256576, 15.423     , 14.001     , 15.21256576, 15.21256576,
       15.21256576, 14.313     , 13.801     , 14.555     , 15.21256576,
       15.21256576, 15.21256576, 14.609     , 16.786     , 14.079     ,
       15.21256576, 16.569     , 15.21256576, 16.529     , 15.095     ,
       15.541     , 15.21256576, 15.21256576, 13.63      , 17.45      ,
       13.968     , 15.21256576, 13.63      , 16.796     , 14.639     ,
       15.21256576, 15.21256576, 15.21256576, 16.695     , 15.21256576,
       16.427     , 15.21256576, 13.006     , 13.724     , 15.21256576,
       15.21256576, 16.379     , 16.543     , 16.783     , 15.21256576,
       15.21256576, 15.21256576, 13.518     , 16.356     , 15.21256576,
       15.743     , 16.975     , 15.21256576, 17.039     , 15.762     ,
       16.427     , 15.21256576, 15.21256576, 14.203     , 15.081     ,
       15.21256576, 15.44      , 15.573     , 16.279     , 13.039     ,
       15.21256576, 13.968     , 13.95      , 14.958     , 15.21256576,
       14.388     , 13.604     , 15.875     , 13.903     , 14.089     ,
       15.913     , 15.116     , 15.21256576, 15.21256576, 13.732     ,
       15.21256576, 15.21256576, 16.175     , 14.514     , 15.868     ,
       15.21256576, 16.83      , 15.21256576, 15.21256576, 14.169     ,
       15.082     , 13.971     , 15.913     , 15.998     , 16.612     ,
       17.611     , 16.173     , 15.21256576, 13.656     , 15.931     ,
       15.587     , 15.21256576, 17.216     , 16.924     , 13.963     ,
       13.787     , 15.21256576, 14.58      , 13.488     , 16.675     ,
       14.101     , 15.21256576, 15.165     , 16.899     , 15.21256576,
       14.555     , 14.121     , 15.21256576, 15.21256576, 15.373     ,
       16.476     , 15.21256576, 15.21256576, 14.801     , 17.45      ,
       15.541     , 16.358     , 15.21256576, 13.039     , 15.21256576,
       16.848     , 14.206     , 13.946     , 16.593     , 13.566     ,
       15.998     , 16.745     , 13.32      , 15.21256576, 15.21256576,
       15.21256576, 13.801     , 15.21256576, 13.518     , 15.21256576,
       15.21256576, 17.054     , 13.604     , 13.75      , 15.21256576,
       15.21256576, 15.152     , 14.287     , 16.593     , 15.855     ,
       15.21256576, 15.315     , 17.036     , 13.932     , 14.036     ,
       15.21256576, 15.21256576, 15.21256576, 14.41      , 14.544     ,
       13.711     , 16.795     , 15.21256576, 16.152     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.924     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.375     ,
       13.331     , 14.033     , 13.691     , 14.401     , 16.985     ,
       15.21256576, 15.21256576, 15.918     , 15.21256576, 16.22      ,
       15.21256576, 15.21256576, 15.21256576, 13.968     , 15.21256576,
       16.848     , 16.543     , 15.21256576, 13.818     , 15.267     ,
       15.21256576, 16.064     , 13.739     , 15.21256576, 15.21256576,
       13.724     , 15.21256576, 16.638     , 15.21256576, 15.992     ,
       14.83      , 15.589     , 15.21256576, 15.21256576, 16.223     ,
       15.21256576, 15.21256576, 16.174     , 15.21256576, 14.241     ,
       15.187     , 15.21256576, 13.627     , 15.21256576, 16.58      ,
       15.21256576, 15.419     , 15.21256576, 13.993     , 16.335     ,
       16.429     , 15.21256576, 15.85      , 15.21256576, 15.21256576,
       15.011     , 16.434     , 15.21256576, 15.061     , 15.21256576,
       16.864     , 15.998     , 15.907     , 14.126     , 15.1       ,
       15.629     , 14.564     , 16.496     , 15.21256576, 15.21256576,
       16.783     , 15.355     , 15.21256576, 16.338     , 13.63      ,
       16.612     , 13.24      , 15.21256576, 14.254     , 15.21256576,
       16.312     , 15.21256576, 15.651     , 15.21256576, 15.031     ,
       13.872     , 15.018     , 16.786     , 14.169     , 13.279     ,
       15.21256576, 15.266     , 15.21256576, 15.21256576, 15.516     ,
       15.21256576, 16.191     , 13.829     , 14.298     , 15.21256576,
       16.279     , 15.21256576, 15.21256576, 16.174     , 17.578     ,
       16.843     , 15.21256576, 15.21256576, 16.223     , 16.988     ,
       15.21256576, 15.21256576, 15.21256576, 14.435     , 14.475     ,
       15.21256576, 16.665     , 15.21256576, 14.11      , 14.169     ,
       14.407     , 15.266     , 15.159     , 16.906     , 15.21256576,
       15.21256576, 13.722     , 14.019     , 15.21256576, 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 13.217     , 13.732     ,
       15.21256576, 16.552     , 15.21256576, 15.528     , 15.21256576,
       14.033     , 15.21256576, 15.419     , 15.21256576, 16.671     ,
       13.655     , 15.21256576, 13.814     , 15.011     , 14.273     ,
       15.21256576, 14.475     , 15.011     , 13.26      , 15.793     ,
       15.21256576, 15.21256576, 13.316     , 15.17      , 16.144     ,
       15.21256576, 14.407     , 15.21256576, 15.21256576, 15.21256576,
       16.695     , 15.21256576, 16.707     , 16.515     , 15.227     ,
       13.538     , 15.21256576, 13.518     , 16.912     , 15.21256576,
       15.266     , 15.21256576, 15.21256576, 15.683     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.437     , 13.714     ,
       15.21256576, 15.21256576, 16.686     , 15.21256576, 13.732     ,
       14.313     , 15.21256576, 16.732     , 15.21256576, 15.21256576,
       15.821     , 16.427     , 15.21256576, 15.384     , 16.175     ,
       15.21256576, 13.263     , 15.21256576, 16.494     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 13.307     , 15.21256576,
       14.211     , 17.052     , 15.21256576, 16.662     , 13.724     ,
       13.279     , 13.673     , 15.21256576, 15.21256576, 13.731     ,
       15.21256576, 15.965     , 15.005     , 15.21256576, 16.511     ,
       15.21256576, 13.691     , 13.714     ])

In [89]:
y_teste

array([15.21256576, 15.656     , 15.21256576, 15.21256576, 15.21256576,
       13.933     , 16.273     , 15.21256576, 15.21256576, 16.796     ,
       15.21256576, 14.516     , 15.21256576, 15.62      , 16.725     ,
       14.453     , 15.455     , 15.27      , 15.21256576, 15.21256576,
       17.423     , 15.21256576, 15.21256576, 15.21256576, 15.21256576,
       15.21256576, 16.716     , 13.81      , 15.21256576, 13.206     ,
       15.181     , 13.321     , 16.49      , 15.21256576, 15.21256576,
       15.19      , 15.641     , 16.553     , 13.344     , 16.45      ,
       16.212     , 13.555     , 13.529     , 15.21256576, 15.21256576,
       15.21256576, 15.21256576, 15.065     , 15.21256576, 15.962     ,
       15.21256576, 14.918     , 14.061     , 13.526     , 13.176     ,
       15.819     , 14.982     , 16.582     , 15.21256576, 15.21256576,
       14.418     , 15.21256576, 15.21256576, 16.309     , 15.21256576,
       15.21256576, 13.928     , 15.21256576, 15.21256576, 15.21256576,
       15.21256576, 15.115     , 16.372     , 15.026     , 15.21256576,
       15.21256576, 16.243     , 16.783     , 13.626     , 15.21256576,
       17.503     , 15.21256576, 15.013     , 16.775     , 15.21256576,
       14.104     , 16.58      , 15.816     , 13.793     , 13.384     ,
       15.21256576, 14.072     , 15.91      , 15.016     , 15.21256576,
       13.229     , 13.595     , 16.121     , 15.21256576, 13.739     ,
       13.805     , 15.21256576, 15.21256576, 15.639     , 15.21256576,
       15.748     , 15.21256576, 15.21256576, 15.252     , 16.147     ,
       15.42      , 16.926     , 15.21256576, 15.21256576, 15.21256576,
       17.449     , 15.024     , 16.408     , 15.902     , 15.21256576,
       13.957     , 14.968     , 13.904     , 13.511     , 16.003     ,
       15.029     , 15.005     , 15.21256576, 15.21256576, 15.21256576,
       17.145     , 16.864     , 14.919     , 14.174     , 15.21256576,
       13.586     , 15.261     , 13.587     , 14.905     , 16.995     ,
       15.21256576, 13.678     , 14.874     , 15.168     , 16.693     ,
       15.823     , 16.197     , 15.21256576, 13.1       , 16.284     ,
       15.21256576, 16.161     , 15.857     , 15.21256576, 15.21256576,
       14.101     , 14.339     , 15.21256576, 17.427     , 13.312     ,
       15.21256576, 15.844     , 14.362     , 15.206     , 15.573     ,
       15.21256576, 15.21256576, 12.732     , 14.875     , 15.832     ,
       15.21256576, 15.21256576, 16.523     , 15.21256576, 15.21256576,
       13.245     , 15.21256576, 15.21256576, 15.21256576, 16.573     ,
       16.461     , 15.21256576, 16.745     , 15.292     , 16.945     ,
       15.21256576, 16.438     , 15.21256576, 16.969     , 15.21256576,
       15.21256576, 15.21256576, 16.395     , 15.811     , 15.21256576,
       14.13      , 13.399     , 16.039     , 15.437     , 15.21256576,
       14.094     , 13.971     , 14.299     , 14.465     , 15.21256576,
       16.737     , 17.503     , 15.21256576, 14.138     , 15.558     ,
       15.21256576, 15.093     , 15.21256576, 13.556     , 15.21256576,
       15.21256576, 13.638     , 13.993     , 17.004     , 15.375     ,
       15.21256576, 15.21256576, 14.118     , 16.984     , 14.882     ,
       15.21256576, 15.21256576, 15.21256576, 13.376     , 15.143     ,
       13.951     , 16.05      , 15.21256576, 15.21256576, 13.682     ,
       16.284     , 15.21256576, 15.21256576, 16.784     , 15.489     ,
       15.978     , 16.143     , 14.41      , 13.309     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 14.259     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.511     , 15.21256576,
       15.21256576, 15.21256576, 15.005     , 13.642     , 15.21256576,
       14.538     , 15.889     , 16.5       , 16.628     , 14.342     ,
       15.21256576, 14.266     , 13.389     , 13.783     , 15.88      ,
       15.21256576, 13.48      , 16.357     , 15.21256576, 16.314     ,
       16.095     , 15.21256576, 16.448     , 16.337     , 13.129     ,
       15.292     , 13.215     , 13.636     , 14.117     , 16.48      ,
       17.106     , 14.899     , 14.972     , 15.21256576, 13.65      ,
       13.707     , 15.21256576, 15.21256576, 13.349     , 16.679     ,
       13.721     , 15.21256576, 14.327     , 15.21256576, 14.751     ,
       13.892     , 15.21256576, 14.446     , 13.108     , 15.079     ,
       15.21256576, 16.558     , 15.497     , 15.21256576, 15.813     ,
       14.916     , 15.84      , 13.687     , 15.232     , 13.859     ,
       15.905     , 15.21256576, 15.63      , 16.657     , 17.462     ,
       15.21256576, 15.21256576, 15.21256576, 16.216     , 17.294     ,
       15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.261     ,
       14.175     , 14.223     , 15.335     , 15.21256576, 16.903     ,
       15.21256576, 17.282     , 15.21256576, 15.21256576, 15.21256576,
       14.923     , 15.21256576, 15.245     , 16.664     , 15.21256576,
       16.025     , 14.084     , 14.291     , 13.762     , 15.21256576,
       15.21256576, 16.737     , 15.21256576, 15.21256576, 13.38      ,
       15.028     , 15.21256576, 15.21256576, 16.068     , 15.21256576,
       13.275     , 15.21256576, 14.465     , 13.302     , 16.4       ,
       16.147     , 15.21256576, 15.21256576, 13.26      , 15.935     ,
       15.21256576, 15.01      , 14.313     , 14.945     , 13.99      ,
       17.        , 14.258     , 13.439     , 15.21256576, 15.21256576,
       14.161     , 15.21256576, 13.615     , 16.657     , 16.466     ,
       15.21256576, 16.629     , 15.21256576, 15.21256576, 14.754     ,
       15.21256576, 15.529     , 14.164     , 15.21256576, 15.21256576,
       15.21256576, 14.379     , 14.047     , 14.608     , 15.21256576,
       15.21256576, 15.21256576, 14.421     , 16.729     , 14.32      ,
       15.21256576, 16.839     , 15.21256576, 16.358     , 15.062     ,
       15.792     , 15.21256576, 15.21256576, 13.678     , 17.609     ,
       13.73      , 15.21256576, 13.701     , 16.718     , 14.561     ,
       15.21256576, 15.21256576, 15.21256576, 16.746     , 15.21256576,
       16.501     , 15.21256576, 12.84      , 13.568     , 15.21256576,
       15.21256576, 16.309     , 16.866     , 16.706     , 15.21256576,
       15.21256576, 15.21256576, 13.444     , 16.329     , 15.21256576,
       16.029     , 17.049     , 15.21256576, 16.851     , 16.038     ,
       16.635     , 15.21256576, 15.21256576, 14.079     , 15.214     ,
       15.21256576, 15.468     , 15.518     , 16.388     , 13.23      ,
       15.21256576, 14.127     , 14.135     , 14.783     , 15.21256576,
       14.437     , 13.619     , 15.981     , 13.972     , 13.856     ,
       16.02      , 15.536     , 15.21256576, 15.21256576, 14.128     ,
       15.21256576, 15.21256576, 16.073     , 14.347     , 15.85      ,
       15.21256576, 16.877     , 15.21256576, 15.21256576, 14.255     ,
       14.95      , 13.767     , 15.916     , 15.826     , 16.565     ,
       17.532     , 16.267     , 15.21256576, 13.945     , 15.873     ,
       15.593     , 15.21256576, 17.39      , 16.991     , 13.904     ,
       13.666     , 15.21256576, 14.645     , 13.341     , 16.762     ,
       14.002     , 15.21256576, 15.151     , 17.26      , 15.21256576,
       14.538     , 14.1       , 15.21256576, 15.21256576, 15.389     ,
       16.498     , 15.21256576, 15.21256576, 14.918     , 17.508     ,
       15.356     , 16.224     , 15.21256576, 13.037     , 15.21256576,
       16.858     , 14.069     , 14.172     , 16.86      , 13.473     ,
       15.867     , 16.653     , 13.303     , 15.21256576, 15.21256576,
       15.21256576, 14.003     , 15.21256576, 13.3       , 15.21256576,
       15.21256576, 16.848     , 13.442     , 13.92      , 15.21256576,
       15.21256576, 15.168     , 14.272     , 16.634     , 16.018     ,
       15.21256576, 15.405     , 17.077     , 13.946     , 13.992     ,
       15.21256576, 15.21256576, 15.21256576, 14.388     , 14.88      ,
       13.956     , 16.803     , 15.21256576, 16.117     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.987     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.538     ,
       13.63      , 13.824     , 13.668     , 14.236     , 16.846     ,
       15.21256576, 15.21256576, 16.098     , 15.21256576, 16.246     ,
       15.21256576, 15.21256576, 15.21256576, 13.98      , 15.21256576,
       16.805     , 16.651     , 15.21256576, 13.891     , 15.075     ,
       15.21256576, 15.685     , 13.425     , 15.21256576, 15.21256576,
       13.873     , 15.21256576, 16.512     , 15.21256576, 15.849     ,
       14.667     , 15.898     , 15.21256576, 15.21256576, 16.285     ,
       15.21256576, 15.21256576, 16.089     , 15.21256576, 14.151     ,
       15.125     , 15.21256576, 13.594     , 15.21256576, 16.403     ,
       15.21256576, 15.45      , 15.21256576, 14.359     , 16.185     ,
       16.211     , 15.21256576, 15.757     , 15.21256576, 15.21256576,
       15.198     , 16.579     , 15.21256576, 15.318     , 15.21256576,
       17.034     , 16.032     , 16.02      , 14.32      , 14.967     ,
       15.523     , 14.488     , 16.387     , 15.21256576, 15.21256576,
       16.672     , 15.437     , 15.21256576, 16.489     , 13.711     ,
       16.611     , 13.24      , 15.21256576, 14.062     , 15.21256576,
       16.385     , 15.21256576, 15.837     , 15.21256576, 14.481     ,
       13.943     , 14.959     , 16.794     , 14.14      , 13.32      ,
       15.21256576, 14.942     , 15.21256576, 15.21256576, 15.621     ,
       15.21256576, 16.066     , 13.784     , 13.928     , 15.21256576,
       16.319     , 15.21256576, 15.21256576, 16.051     , 17.419     ,
       16.999     , 15.21256576, 15.21256576, 16.252     , 16.871     ,
       15.21256576, 15.21256576, 15.21256576, 14.198     , 14.873     ,
       15.21256576, 16.793     , 15.21256576, 14.13      , 14.181     ,
       14.419     , 15.307     , 15.171     , 16.908     , 15.21256576,
       15.21256576, 13.622     , 14.446     , 15.21256576, 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 13.342     , 13.531     ,
       15.21256576, 16.437     , 15.21256576, 15.444     , 15.21256576,
       13.996     , 15.21256576, 15.588     , 15.21256576, 16.569     ,
       13.99      , 15.21256576, 14.159     , 15.296     , 14.459     ,
       15.21256576, 14.54      , 15.432     , 13.26      , 15.896     ,
       15.21256576, 15.21256576, 13.643     , 14.91      , 16.076     ,
       15.21256576, 14.505     , 15.21256576, 15.21256576, 15.21256576,
       16.685     , 15.21256576, 16.715     , 16.289     , 15.291     ,
       13.55      , 15.21256576, 13.647     , 16.74      , 15.21256576,
       15.407     , 15.21256576, 15.21256576, 15.818     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 16.49      , 13.634     ,
       15.21256576, 15.21256576, 16.601     , 15.21256576, 13.807     ,
       14.422     , 15.21256576, 16.567     , 15.21256576, 15.21256576,
       15.822     , 16.45      , 15.21256576, 15.223     , 16.133     ,
       15.21256576, 13.362     , 15.21256576, 16.566     , 15.21256576,
       15.21256576, 15.21256576, 15.21256576, 13.732     , 15.21256576,
       14.632     , 16.956     , 15.21256576, 16.689     , 13.717     ,
       13.366     , 13.872     , 15.21256576, 15.21256576, 13.773     ,
       15.21256576, 16.038     , 15.107     , 15.21256576, 16.634     ,
       15.21256576, 13.559     , 13.426     ])

In [90]:
tree.score(x_treino, y_treino)

1.0

In [91]:
tree.score(x_teste,y_teste)

0.9829403355516639

excelente acurácia

- agora podemos prever alguns valores futuros

In [94]:
#tree.predict(np.array([[(1),(2),(3).(4),(5),(6),(8)]]))

In [95]:
tree.predict(np.array([[13000,0.080,17345,0.089,8000,0.233,0.060]])) # o resultado é nosso target(7) 'LandAndOceanAverageTemperature'

array([17.487])

In [98]:
tree.predict(np.array([[0,0.020,10345,0.060,8000,0.203,0.080]]))

array([16.757])

In [99]:
tree.predict(np.array([[2000,0.080,17345,0.089,8000,0.233,0.010]]))

array([17.611])

In [129]:
forecast = tree.predict(x_teste)

In [131]:
forecast.shape

(798,)

In [133]:
with open('forecast.csv', 'w') as forecast:
    
  print(file=forecast)

In [136]:
forecast #se cria um arquivo com as previsões em csv

**Random Forest**

In [100]:
from sklearn.ensemble import RandomForestRegressor

In [101]:
rf = RandomForestRegressor(n_estimators=50, criterion='mse')

In [102]:
rf.fit(x_treino, y_treino)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

RandomForestRegressor(criterion='mse', n_estimators=50)

In [103]:
previsoes = rf.predict(x_teste)

In [104]:
rf.score(x_treino,y_treino)

0.9985709266322167

In [105]:
rf.score(x_teste, y_teste)

0.9891992934455102

excelente acurácia

vamos prever resultados

In [107]:
rf.predict(np.array([[13000,0.020,10345,0.060,8000,0.203,0.080]]))

array([17.48652])

In [108]:
rf.predict(np.array([[3000,0.050,10345,0.090,8000,0.103,0.080]]))

array([17.49676])

**Regressão Linear**

In [109]:
from sklearn.linear_model import LinearRegression

In [110]:
rl = LinearRegression()

In [111]:
rl.fit(x_treino, y_treino)

LinearRegression()

In [112]:
pred = rl.predict(x_teste)

In [114]:
pred , y_teste

(array([15.19740959, 15.83204588, 15.2236167 , 15.20111188, 15.20958336,
        14.29656699, 16.37543423, 15.22371828, 15.22182049, 16.7772919 ,
        15.19956826, 14.62258862, 15.2106144 , 15.6003498 , 16.6718275 ,
        14.4669524 , 15.54242647, 15.41829489, 15.20451457, 15.21501817,
        17.16701701, 15.20814342, 15.21482506, 15.21942512, 15.22292003,
        15.20733272, 16.69657058, 13.75052653, 15.20196367, 13.22530363,
        15.44295231, 13.24565467, 16.63546699, 15.21202718, 15.22525515,
        15.15722394, 15.73952813, 16.54773576, 13.40532964, 16.62091729,
        16.02736674, 13.34736367, 13.42415057, 15.19838691, 15.20407526,
        15.22237995, 15.2195352 , 15.085222  , 15.19975807, 15.53023544,
        15.2110195 , 15.16503348, 13.84795538, 13.70183162, 13.28148197,
        15.548951  , 14.6272161 , 16.84756599, 15.22181071, 15.2198628 ,
        14.51037538, 15.21247138, 15.22800169, 16.38809375, 15.23184855,
        15.22618544, 13.76074754, 15.22772829, 15.21658783, 15.20891415,
        15.2110195 , 15.18366264, 16.61169694, 15.08649634, 15.2002923 ,
        15.20572196, 16.43620923, 16.92020873, 13.54427757, 15.22172953,
        17.19612099, 15.22246705, 14.94649423, 16.67573254, 15.19994436,
        14.00280125, 16.51070145, 15.86413762, 13.91171316, 12.96819064,
        15.21890189, 14.0777615 , 15.78188375, 14.72005588, 15.20121953,
        13.58770421, 13.60694739, 16.12379779, 15.21261626, 13.77349763,
        13.91256895, 15.21983894, 15.22455324, 15.75837557, 15.19993461,
        15.75879829, 15.21824946, 15.2110195 , 14.98232503, 15.95576454,
        15.55405983, 16.87744386, 15.22478235, 15.21147844, 15.21858885,
        17.27736632, 15.247407  , 16.57309258, 16.08686138, 15.20723239,
        13.89409265, 14.87408403, 13.70106083, 13.52642616, 16.18927938,
        15.09416081, 14.8049537 , 15.2036913 , 15.22268153, 15.20485556,
        17.04312411, 16.68512049, 14.8105863 , 14.0400029 , 15.22182342,
        13.75765711, 15.2971579 , 13.58596326, 15.3581172 , 16.91412874,
        15.20311469, 13.47905047, 15.20581464, 15.1425538 , 16.75496881,
        15.94500076, 16.51273224, 15.20993078, 13.17290421, 16.25426706,
        15.19932271, 16.4613437 , 15.98875516, 15.20949226, 15.21788877,
        14.26865974, 14.00252968, 15.22405416, 17.12016518, 13.18758423,
        15.21105145, 15.72149493, 14.54817343, 15.32558506, 15.86041981,
        15.20927711, 15.21999426, 13.51813355, 14.91138356, 15.59336222,
        15.22054797, 15.21264732, 16.3229394 , 15.21149568, 15.21912597,
        13.38017006, 15.19725631, 15.21305108, 15.20384574, 16.53846504,
        16.5711492 , 15.20383447, 16.64730308, 15.53685701, 16.88590118,
        15.20851351, 16.64517789, 15.20802144, 16.87023636, 15.22987918,
        15.22499629, 15.21856909, 16.28221791, 15.49775071, 15.22297219,
        14.12492924, 13.31025183, 15.64424504, 15.5334587 , 15.22759073,
        14.16444379, 14.03076481, 14.50736193, 14.65409111, 15.22693742,
        16.44203919, 17.26037401, 15.21088204, 13.99247384, 15.69791007,
        15.21036855, 15.32233459, 15.20281573, 13.70770517, 15.21511087,
        15.21508099, 12.97678869, 14.52572736, 16.88599617, 15.53815016,
        15.21618351, 15.21392288, 14.23574723, 16.29685834, 14.48067321,
        15.22405721, 15.22175257, 15.22632792, 13.31064736, 15.40689535,
        13.92409789, 16.03206412, 15.1979612 , 15.21546502, 13.82052756,
        16.55628535, 15.22376363, 15.21576144, 16.98076785, 15.35461697,
        15.62311892, 16.09505593, 14.45815027, 13.26558433, 15.20757998,
        15.20571417, 15.21714891, 15.20193493, 14.33960799, 15.22470243,
        15.20421842, 15.23132738, 15.21173667, 16.66814104, 15.2059738 ,
        15.21347866, 15.2022883 , 15.12271417, 13.59816605, 15.21011608,
        14.22452943, 15.77426314, 16.44935711, 16.77855182, 14.56336957,
        15.21077986, 14.017937  , 13.49109564, 13.64138685, 15.91887678,
        15.2074839 , 13.38286445, 16.34300544, 15.19889466, 16.32168902,
        16.08158669, 15.20628404, 16.65971168, 16.34183332, 13.25202869,
        15.22651079, 13.12381337, 13.64224984, 14.06404624, 16.46017578,
        16.85199317, 14.77124907, 15.28661696, 15.2208196 , 13.54505068,
        13.25915442, 15.21427905, 15.19930157, 13.33227008, 16.67675051,
        13.63569013, 15.20828401, 14.22848156, 15.22172071, 15.16113166,
        13.99980351, 15.20257277, 14.57976476, 13.27749953, 15.05901412,
        15.20892323, 16.70087198, 15.84571287, 15.20563399, 15.53437422,
        14.92635342, 15.87977078, 13.71001693, 15.39138074, 13.74574452,
        15.81923662, 15.21545375, 15.61182127, 16.53457   , 17.13340337,
        15.21507746, 15.20244337, 15.19971721, 16.50519696, 17.04319331,
        15.22202521, 15.20784561, 15.22300776, 15.21819492, 16.24137996,
        14.38512662, 13.97743857, 15.215589  , 15.22612126, 16.69417666,
        15.21021953, 17.02026336, 15.21635253, 15.19957499, 15.20016802,
        14.85752277, 15.2110195 , 15.41392289, 16.82920725, 15.2067423 ,
        15.90630951, 13.97693831, 14.0800789 , 13.62775717, 15.23889057,
        15.20599932, 16.62214226, 15.21348134, 15.2170841 , 13.3364314 ,
        15.37442485, 15.21047994, 15.22002651, 16.17742686, 15.20006641,
        13.45913094, 15.22218839, 14.38580963, 13.53976242, 16.35117896,
        15.98084312, 15.2115788 , 15.21202648, 13.31965678, 15.7821609 ,
        15.21645707, 14.8100305 , 14.49178757, 14.92418943, 14.13139847,
        17.12953115, 13.96679796, 13.53286043, 15.21675701, 15.20925518,
        14.04474324, 15.22142817, 13.67295461, 16.39644714, 16.40682352,
        15.20601714, 16.37726336, 15.20674945, 15.2139483 , 14.77105528,
        15.21761812, 15.54470586, 13.85370726, 15.20552093, 15.21322235,
        15.20320583, 14.49766982, 13.9310431 , 14.51306022, 15.21169418,
        15.21382496, 15.20730502, 14.62205295, 16.7395424 , 14.13967638,
        15.20268834, 16.60498783, 15.2233813 , 16.47774731, 15.1289662 ,
        15.84282209, 15.22216364, 15.20703848, 13.69120067, 17.29650821,
        13.94649852, 15.2139349 , 13.68271086, 16.83522418, 14.4191828 ,
        15.21769083, 15.21456897, 15.21154426, 16.65790061, 15.20735853,
        16.45901502, 15.21355989, 13.25775895, 13.77082145, 15.20974858,
        15.20295229, 16.56300702, 16.76205558, 16.8453057 , 15.2164996 ,
        15.22170797, 15.20668083, 13.46954876, 16.44001271, 15.22407499,
        15.83968231, 16.6299062 , 15.22856368, 16.91707935, 15.59433388,
        16.51629177, 15.2011476 , 15.21799629, 14.54076465, 15.05560726,
        15.20508069, 15.38132992, 15.33080446, 16.20636228, 13.09584912,
        15.21438242, 13.96351126, 14.10338492, 15.00956676, 15.22099908,
        14.60307872, 13.6859891 , 16.09041286, 13.97536145, 13.96804031,
        15.88624586, 15.17608337, 15.2170827 , 15.21127445, 14.13925124,
        15.2196765 , 15.22118662, 15.9694973 , 14.1780327 , 15.84137049,
        15.20763378, 17.01229127, 15.21853977, 15.19773579, 13.92781257,
        14.97722667, 13.81713313, 16.06489014, 16.01424016, 16.5753468 ,
        17.28196101, 16.16235241, 15.22454815, 13.82726309, 15.86085023,
        15.48925095, 15.20216121, 17.06439074, 17.02757789, 13.9829634 ,
        13.67913518, 15.2261276 , 14.78866205, 13.356535  , 16.60800988,
        14.38327207, 15.21592915, 15.34820553, 16.96947785, 15.21513419,
        14.4580351 , 14.14127812, 15.21567671, 15.20217036, 15.52226774,
        16.71049574, 15.21377658, 15.21160998, 14.89985029, 17.17378336,
        15.34383994, 16.27818866, 15.22293789, 13.17916781, 15.2110195 ,
        16.71335319, 14.25125737, 13.72216447, 16.95095577, 13.493237  ,
        16.17112182, 16.83758618, 13.31844675, 15.22725934, 15.22164209,
        15.21032253, 13.99458487, 15.20454381, 13.45535807, 15.2222376 ,
        15.22038038, 16.88665091, 13.66706566, 14.14977892, 15.21485825,
        15.20304899, 15.38469474, 14.46612715, 16.75291991, 15.92412769,
        15.20597604, 15.45807326, 16.94821745, 13.76698779, 14.17982658,
        15.2239119 , 15.21132297, 15.2242373 , 14.15728545, 14.59321668,
        13.9279203 , 16.85905824, 15.23549472, 16.15388822, 15.21350837,
        15.20932153, 15.22319007, 15.20408014, 16.99071224, 15.20771945,
        15.22553172, 15.2108841 , 15.20027657, 15.22372669, 16.67003877,
        13.3711423 , 13.65679363, 13.69276199, 14.38169475, 16.97798367,
        15.2083407 , 15.22078607, 15.99766427, 15.19800548, 16.29246601,
        15.20322177, 15.23083208, 15.19759021, 13.98928602, 15.21581178,
        16.73150569, 16.78992794, 15.2154846 , 13.74723904, 15.12014878,
        15.22876505, 16.04029618, 13.69980829, 15.22245191, 15.19902998,
        13.75675413, 15.20238247, 16.71949451, 15.21900299, 16.20159891,
        14.5757601 , 15.6290714 , 15.20020464, 15.2055422 , 16.25309874,
        15.20800245, 15.22088717, 15.98467341, 15.22537526, 14.09060532,
        15.14043789, 15.21089258, 13.65871053, 15.20963056, 16.64705051,
        15.21856211, 15.63060568, 15.2245242 , 13.98608524, 16.31264416,
        16.41567375, 15.22339674, 15.90200509, 15.2022939 , 15.22820028,
        15.19967984, 16.62354745, 15.21115742, 15.30324948, 15.20131634,
        16.86715571, 16.13304748, 15.95442072, 14.53201687, 14.82735893,
        15.58913448, 14.09107567, 16.66263768, 15.21052903, 15.20930545,
        16.71135131, 15.42598969, 15.21267963, 16.36748165, 13.62887057,
        16.57990621, 13.46925418, 15.21121915, 14.4751604 , 15.20450089,
        16.35632972, 15.21475442, 15.83859807, 15.21547149, 14.70465624,
        14.24902111, 14.93803701, 16.78161307, 13.92456987, 13.30607206,
        15.2006507 , 15.1949127 , 15.22619173, 15.21086334, 15.62246749,
        15.21133413, 16.22302574, 14.27835983, 14.03940619, 15.20472718,
        16.19664858, 15.22625931, 15.2257321 , 16.00552673, 17.22959717,
        16.41926902, 15.21882469, 15.20357972, 16.20239292, 16.92994449,
        15.2087817 , 15.20163706, 15.20803798, 14.16429664, 14.53723414,
        15.21002389, 16.6172602 , 15.21147764, 14.13862271, 13.92538325,
        14.51216937, 15.15692368, 15.41303493, 16.86393984, 15.20887696,
        15.20914102, 13.61770001, 14.23366861, 15.21146538, 15.20521987,
        15.20594299, 15.22114572, 15.20127642, 13.64669664, 13.49396442,
        15.20951041, 16.7931223 , 15.22725518, 15.3236794 , 15.22186036,
        14.17617742, 15.20622787, 15.5847234 , 15.21704435, 16.38819833,
        13.75550249, 15.20638943, 14.28944293, 15.155181  , 13.97307208,
        15.21141957, 14.36603084, 15.16660849, 13.2391616 , 15.75476402,
        15.22032789, 15.20561936, 13.45506185, 14.74220366, 16.16003891,
        15.21866472, 14.16415918, 15.20743654, 15.22385904, 15.21798236,
        16.4426006 , 15.20593254, 16.38146727, 16.52728691, 15.25221605,
        13.65179245, 15.22443154, 13.54794497, 16.71009583, 15.2003361 ,
        15.21029281, 15.21077853, 15.22981949, 15.50196666, 15.21182297,
        15.20475909, 15.22759981, 15.19824298, 16.33582062, 13.31378035,
        15.20422431, 15.21956181, 16.78658747, 15.20381279, 13.61385543,
        14.52314269, 15.22531523, 16.36792471, 15.21582291, 15.21979045,
        15.58370618, 16.46211542, 15.20150598, 15.45407965, 15.90447943,
        15.2027726 , 12.96176121, 15.22461158, 16.18846987, 15.20119573,
        15.21605385, 15.21945306, 15.20641222, 13.65279064, 15.21645378,
        14.31893594, 16.98829345, 15.210216  , 16.79592514, 13.74421343,
        13.29886993, 13.820202  , 15.1978964 , 15.22211948, 13.64909744,
        15.20505558, 15.8491067 , 14.97810938, 15.20375168, 16.39476267,
        15.21862675, 13.75385291, 13.76905174]),
 array([15.21256576, 15.656     , 15.21256576, 15.21256576, 15.21256576,
        13.933     , 16.273     , 15.21256576, 15.21256576, 16.796     ,
        15.21256576, 14.516     , 15.21256576, 15.62      , 16.725     ,
        14.453     , 15.455     , 15.27      , 15.21256576, 15.21256576,
        17.423     , 15.21256576, 15.21256576, 15.21256576, 15.21256576,
        15.21256576, 16.716     , 13.81      , 15.21256576, 13.206     ,
        15.181     , 13.321     , 16.49      , 15.21256576, 15.21256576,
        15.19      , 15.641     , 16.553     , 13.344     , 16.45      ,
        16.212     , 13.555     , 13.529     , 15.21256576, 15.21256576,
        15.21256576, 15.21256576, 15.065     , 15.21256576, 15.962     ,
        15.21256576, 14.918     , 14.061     , 13.526     , 13.176     ,
        15.819     , 14.982     , 16.582     , 15.21256576, 15.21256576,
        14.418     , 15.21256576, 15.21256576, 16.309     , 15.21256576,
        15.21256576, 13.928     , 15.21256576, 15.21256576, 15.21256576,
        15.21256576, 15.115     , 16.372     , 15.026     , 15.21256576,
        15.21256576, 16.243     , 16.783     , 13.626     , 15.21256576,
        17.503     , 15.21256576, 15.013     , 16.775     , 15.21256576,
        14.104     , 16.58      , 15.816     , 13.793     , 13.384     ,
        15.21256576, 14.072     , 15.91      , 15.016     , 15.21256576,
        13.229     , 13.595     , 16.121     , 15.21256576, 13.739     ,
        13.805     , 15.21256576, 15.21256576, 15.639     , 15.21256576,
        15.748     , 15.21256576, 15.21256576, 15.252     , 16.147     ,
        15.42      , 16.926     , 15.21256576, 15.21256576, 15.21256576,
        17.449     , 15.024     , 16.408     , 15.902     , 15.21256576,
        13.957     , 14.968     , 13.904     , 13.511     , 16.003     ,
        15.029     , 15.005     , 15.21256576, 15.21256576, 15.21256576,
        17.145     , 16.864     , 14.919     , 14.174     , 15.21256576,
        13.586     , 15.261     , 13.587     , 14.905     , 16.995     ,
        15.21256576, 13.678     , 14.874     , 15.168     , 16.693     ,
        15.823     , 16.197     , 15.21256576, 13.1       , 16.284     ,
        15.21256576, 16.161     , 15.857     , 15.21256576, 15.21256576,
        14.101     , 14.339     , 15.21256576, 17.427     , 13.312     ,
        15.21256576, 15.844     , 14.362     , 15.206     , 15.573     ,
        15.21256576, 15.21256576, 12.732     , 14.875     , 15.832     ,
        15.21256576, 15.21256576, 16.523     , 15.21256576, 15.21256576,
        13.245     , 15.21256576, 15.21256576, 15.21256576, 16.573     ,
        16.461     , 15.21256576, 16.745     , 15.292     , 16.945     ,
        15.21256576, 16.438     , 15.21256576, 16.969     , 15.21256576,
        15.21256576, 15.21256576, 16.395     , 15.811     , 15.21256576,
        14.13      , 13.399     , 16.039     , 15.437     , 15.21256576,
        14.094     , 13.971     , 14.299     , 14.465     , 15.21256576,
        16.737     , 17.503     , 15.21256576, 14.138     , 15.558     ,
        15.21256576, 15.093     , 15.21256576, 13.556     , 15.21256576,
        15.21256576, 13.638     , 13.993     , 17.004     , 15.375     ,
        15.21256576, 15.21256576, 14.118     , 16.984     , 14.882     ,
        15.21256576, 15.21256576, 15.21256576, 13.376     , 15.143     ,
        13.951     , 16.05      , 15.21256576, 15.21256576, 13.682     ,
        16.284     , 15.21256576, 15.21256576, 16.784     , 15.489     ,
        15.978     , 16.143     , 14.41      , 13.309     , 15.21256576,
        15.21256576, 15.21256576, 15.21256576, 14.259     , 15.21256576,
        15.21256576, 15.21256576, 15.21256576, 16.511     , 15.21256576,
        15.21256576, 15.21256576, 15.005     , 13.642     , 15.21256576,
        14.538     , 15.889     , 16.5       , 16.628     , 14.342     ,
        15.21256576, 14.266     , 13.389     , 13.783     , 15.88      ,
        15.21256576, 13.48      , 16.357     , 15.21256576, 16.314     ,
        16.095     , 15.21256576, 16.448     , 16.337     , 13.129     ,
        15.292     , 13.215     , 13.636     , 14.117     , 16.48      ,
        17.106     , 14.899     , 14.972     , 15.21256576, 13.65      ,
        13.707     , 15.21256576, 15.21256576, 13.349     , 16.679     ,
        13.721     , 15.21256576, 14.327     , 15.21256576, 14.751     ,
        13.892     , 15.21256576, 14.446     , 13.108     , 15.079     ,
        15.21256576, 16.558     , 15.497     , 15.21256576, 15.813     ,
        14.916     , 15.84      , 13.687     , 15.232     , 13.859     ,
        15.905     , 15.21256576, 15.63      , 16.657     , 17.462     ,
        15.21256576, 15.21256576, 15.21256576, 16.216     , 17.294     ,
        15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.261     ,
        14.175     , 14.223     , 15.335     , 15.21256576, 16.903     ,
        15.21256576, 17.282     , 15.21256576, 15.21256576, 15.21256576,
        14.923     , 15.21256576, 15.245     , 16.664     , 15.21256576,
        16.025     , 14.084     , 14.291     , 13.762     , 15.21256576,
        15.21256576, 16.737     , 15.21256576, 15.21256576, 13.38      ,
        15.028     , 15.21256576, 15.21256576, 16.068     , 15.21256576,
        13.275     , 15.21256576, 14.465     , 13.302     , 16.4       ,
        16.147     , 15.21256576, 15.21256576, 13.26      , 15.935     ,
        15.21256576, 15.01      , 14.313     , 14.945     , 13.99      ,
        17.        , 14.258     , 13.439     , 15.21256576, 15.21256576,
        14.161     , 15.21256576, 13.615     , 16.657     , 16.466     ,
        15.21256576, 16.629     , 15.21256576, 15.21256576, 14.754     ,
        15.21256576, 15.529     , 14.164     , 15.21256576, 15.21256576,
        15.21256576, 14.379     , 14.047     , 14.608     , 15.21256576,
        15.21256576, 15.21256576, 14.421     , 16.729     , 14.32      ,
        15.21256576, 16.839     , 15.21256576, 16.358     , 15.062     ,
        15.792     , 15.21256576, 15.21256576, 13.678     , 17.609     ,
        13.73      , 15.21256576, 13.701     , 16.718     , 14.561     ,
        15.21256576, 15.21256576, 15.21256576, 16.746     , 15.21256576,
        16.501     , 15.21256576, 12.84      , 13.568     , 15.21256576,
        15.21256576, 16.309     , 16.866     , 16.706     , 15.21256576,
        15.21256576, 15.21256576, 13.444     , 16.329     , 15.21256576,
        16.029     , 17.049     , 15.21256576, 16.851     , 16.038     ,
        16.635     , 15.21256576, 15.21256576, 14.079     , 15.214     ,
        15.21256576, 15.468     , 15.518     , 16.388     , 13.23      ,
        15.21256576, 14.127     , 14.135     , 14.783     , 15.21256576,
        14.437     , 13.619     , 15.981     , 13.972     , 13.856     ,
        16.02      , 15.536     , 15.21256576, 15.21256576, 14.128     ,
        15.21256576, 15.21256576, 16.073     , 14.347     , 15.85      ,
        15.21256576, 16.877     , 15.21256576, 15.21256576, 14.255     ,
        14.95      , 13.767     , 15.916     , 15.826     , 16.565     ,
        17.532     , 16.267     , 15.21256576, 13.945     , 15.873     ,
        15.593     , 15.21256576, 17.39      , 16.991     , 13.904     ,
        13.666     , 15.21256576, 14.645     , 13.341     , 16.762     ,
        14.002     , 15.21256576, 15.151     , 17.26      , 15.21256576,
        14.538     , 14.1       , 15.21256576, 15.21256576, 15.389     ,
        16.498     , 15.21256576, 15.21256576, 14.918     , 17.508     ,
        15.356     , 16.224     , 15.21256576, 13.037     , 15.21256576,
        16.858     , 14.069     , 14.172     , 16.86      , 13.473     ,
        15.867     , 16.653     , 13.303     , 15.21256576, 15.21256576,
        15.21256576, 14.003     , 15.21256576, 13.3       , 15.21256576,
        15.21256576, 16.848     , 13.442     , 13.92      , 15.21256576,
        15.21256576, 15.168     , 14.272     , 16.634     , 16.018     ,
        15.21256576, 15.405     , 17.077     , 13.946     , 13.992     ,
        15.21256576, 15.21256576, 15.21256576, 14.388     , 14.88      ,
        13.956     , 16.803     , 15.21256576, 16.117     , 15.21256576,
        15.21256576, 15.21256576, 15.21256576, 16.987     , 15.21256576,
        15.21256576, 15.21256576, 15.21256576, 15.21256576, 16.538     ,

In [116]:
rl.score(x_treino, y_treino)

0.9795279351442409

In [117]:
rl.score(x_teste, y_teste)

0.9753624623660397

excelente acurácia também

vamos prever resultados novamente

In [119]:
rl.predict(np.array([[13000,0.050,10345,0.090,8000,0.103,0.080]]))

array([2749.80145387])