<a href="https://colab.research.google.com/github/bcury/Machine-Learning-Projects/blob/main/ML_Unsupervised_ECLAT_associa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ECLAT

In [1]:
pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.1.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.62.3)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [3]:
import pandas as pd

In [5]:
base_mercado = pd.read_csv('/content/mercado.csv', header=None)

In [6]:
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [8]:
from pyECLAT import ECLAT
eclat = ECLAT(data=base_mercado)

In [9]:
eclat

In [10]:
eclat.df_bin

   pao  arroz  cerveja  leite  cafe  manteiga  feijao
0    1      0        1      1     0         1       0
1    1      0        0      0     1         1       0
2    1      0        0      0     1         1       0
3    1      0        0      1     1         1       0
4    0      0        1      0     0         0       0
5    0      0        0      0     0         1       0
6    1      0        0      0     0         0       0
7    0      0        0      0     0         0       1
8    0      1        0      0     0         0       1
9    0      1        0      0     0         0       0

In [11]:
eclat.uniq_

[nan, 'pao', 'arroz', 'cerveja', 'leite', 'cafe', 'manteiga', 'feijao']

In [18]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 160.34it/s]

Combination 2 by 2

3it [00:00, 134.18it/s]

Combination 3 by 3

1it [00:00, 74.02it/s]

In [19]:
indices

{'cafe': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'pao & cafe': [1, 2, 3],
 'pao & cafe & manteiga': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3]}

In [20]:
suporte

{'cafe': 0.3,
 'cafe & manteiga': 0.3,
 'manteiga': 0.5,
 'pao': 0.5,
 'pao & cafe': 0.3,
 'pao & cafe & manteiga': 0.3,
 'pao & manteiga': 0.4}

usamos essa biblioteca para quando queremos retornar somente os itens mais frequentes, ou seja, fazer a contagem por regra de asociação mas somente para os itens mais populares