<a href="https://colab.research.google.com/github/bcury/Machine-Learning-Projects/blob/main/ML_Unsurpervised_APRIORI_sistemas_associa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

APRIORI--- requer que trabalhemos em formato de LISTA

In [1]:
pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=704a4741352cf12a8e2ec8d4ce4148ce3391c250a690d64ed90cbbaf4cf73450
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import pandas as pd
from apyori import apriori

In [6]:
base_mercado = pd.read_csv('/content/mercado.csv', header=None)

In [8]:
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

vamos transformar esse dataframe em lista

In [49]:
transacoes = []
for i in range(len(base_mercado)):
  #print(base_mercado.values[i,0]) 
  transacoes.append([str(base_mercado.values[i,j]) for j in range(4)]) # 4 pois sao 4 numeros(de 0 a 3)

In [50]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [51]:
type(transacoes)

list

In [52]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultados = list(regras)

In [53]:
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

aqui entao vimos que temos as nossas regras de associação

In [56]:
len(resultados)

3

In [58]:
resultados[2] #aqui a gente escolhe a regra que quiser, poderia ser [1] e [0] também

RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

Checando!!

In [59]:
resultados[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [60]:
resultados[2][1]

0.3

In [62]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [64]:
r[0]  # compra cafe...entao tbm pao e manteiga

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5)

In [65]:
r[1]

OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)

In [66]:
r[2]

OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)

In [67]:
r[2][0]

frozenset({'cafe', 'pao'})

In [69]:
r[2][1]

frozenset({'manteiga'})

In [72]:
r[2][2] # confiança

1.0

In [74]:
r[2][3]  #lift

2.0

In [85]:
A = []
B = []
suporte = []
confiança = []
lift = []

for resultado in resultados:
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rules)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    print(a,'-',b,'-',c,'-',l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confiança.append(c)
    lift.append(l)

['cafe'] - ['manteiga'] - 1.0 - 2.0
['cafe'] - ['pao'] - 1.0 - 2.0
['cafe'] - ['pao', 'manteiga'] - 1.0 - 2.5
['manteiga', 'cafe'] - ['pao'] - 1.0 - 2.0
['pao', 'cafe'] - ['manteiga'] - 1.0 - 2.0

In [86]:
A

[['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['pao', 'cafe']]

In [87]:
B

[['manteiga'], ['pao'], ['pao', 'manteiga'], ['pao'], ['manteiga']]

In [88]:
suporte

[0.3, 0.3, 0.3, 0.3, 0.3]

In [89]:
confiança

[1.0, 1.0, 1.0, 1.0, 1.0]

In [90]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

agora vamos juntar em um dataframe

In [91]:
rules_df = pd.DataFrame({'A':A,'B':B,'suporte':suporte,'confiança':confiança,'lift':lift})

In [94]:
rules_df

                  A                B  suporte  confiança  lift
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

In [95]:
rules_df.sort_values(by='lift', ascending=False)

                  A                B  suporte  confiança  lift
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

Agora vamos adicionar outra base de dados

In [98]:
base_mercado_2 = pd.read_csv('/content/mercado2.csv', header=None)

In [99]:
base_mercado_2

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [100]:
base_mercado_2.shape

(7501, 20)

In [110]:
#vamos passar como lista
transações = []
for i in range(base_mercado_2.shape[0]):
  transações.append([str(base_mercado_2.values[i,j]) for j in range(base_mercado_2.shape[1])])

In [ ]:
transações

In [125]:
regras = apriori(transações, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultado = list(regras)
len(resultado)

0

0 regras, base de dados muito grande

In [126]:
#produtos qu sao vendidos 4 vezes por dia
4 * 7 # 7 pois sao 7 dias na semana

28

In [127]:
28 / 7501  #7501 produtos nessa base(Linhas)

0.0037328356219170776

então agora descobrimos qual o min_support pra termos regras e tbm mudar a confiança, pois nao pode ser alta em base grande e aumentar o lift para 3 para na termos muitas regras

In [133]:
regras= apriori(transações, min_support = 0.003, min_confidence = 0.2, min_lift = 3)
resultado= list(regras)
len(resultado)

160

basta agora fazer igual o 1 caso e virar um dataframe, ai teremos as regras organizadas de acordo como queremos.